{% extends 'base.html' %}
{% load static %}


{% block content %}
<body style="background-color: rgb(255, 255, 255);">
<div class="container">
    <div class="row content">
        <div class="col-sm-6 word text">
            <h1><b>STORY 7</b></h1>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
	<div class="col-md-6 col-lg-6 col-sm-12">
	<!-- CARD1 -->
	<div class="accordion1 card z-depth-0 bordered" style="order:1;">
		<div class="card" id="headingOne2">

		  <!-- Card title -->
		  <h5 class="mb-0 col">
			<button class="btn2" type="button" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
			  + Activities
			</button>
		  </h5>

		  <!-- Buttons -->
		  <div class="accordion-buttons col-2 d-flex justify-content-flex">
			<div class="button-up" id="up-accordion1">
			  <svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
			  </svg>
			</div>
			<div class="button-down" id="down-accordion1">
			  <svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
			  </svg>
			</div>
		</div>

		</div>
		<div id="collapseOne2" class="collapse" aria-labelledby="headingOne2" data-parent="#accordionExample275">
			<div class="card-body">
				Study<br>
				Getting a hold of myself
			</div>
		</div>
	</div>
		
	<!-- CARD2 -->
	<div class="accordion2 card z-depth-0 bordered" style="order:2;">
		<div class="card" id="headingTwo2">
			<!-- Card title -->
			<h5 class="mb-0 col">
			<button class="btn2" type="button" data-toggle="collapse" data-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
				+ Experiences
			</button>
			</h5>

			<!-- Buttons -->
			<div class="accordion-buttons col-2 d-flex justify-content-flex">
				<div class="button-up" id="up-accordion2">
				<svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
				</svg>
				</div>
				<div class="button-down" id="down-accordion2">
				<svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
				</svg>
				</div>
			</div>
		</div>
		
			<!-- Collapse content -->
		<div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordionExample275">
			<div class="card-body">
				Pacar Salman<br>
				Masih pacarnya Salman<br>
			</div>
		</div>
	</div>
		
	<!-- ketiga -->
	<div class="accordion3 card z-depth-0 bordered" style="order:3;">
	<div class="card" id="headingThree2">
		<!-- Card title -->
		<h5 class="mb-0 col">
		<button class="btn2" type="button" data-toggle="collapse" data-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
			+ Achievements 
		</button>
		</h5>

		<!-- Buttons -->
		<div class="accordion-buttons col-2 d-flex justify-content-flex">
			<div class="button-up" id="up-accordion3">
			<svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
			</svg>
			</div>
			<div class="button-down" id="down-accordion3">
			<svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
			</svg>
			</div>
		</div>
	</div>

		<!-- Collapse content -->
	<div id="collapseThree2" class="collapse" aria-labelledby="headingThree2" data-parent="#accordionExample275">
		<div class="card-body">
			Dapetin Salman<br>
			Bahagiain Salman (kali)<br>
			Menyayangi Salman anjay<br>
		</div>
	</div>
	</div>
	

	<!-- keempat -->
	<div class="accordion3 card z-depth-0 bordered" style="order:4;">
		<div class="card" id="headingFour2">
			<!-- Card title -->
			<h5 class="mb-0 col">
			<button class="btn2" type="button" data-toggle="collapse" data-target="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2">
				+ Struggles
			</button>
			</h5>

			<!-- Buttons -->
			<div class="accordion-buttons col-2 d-flex justify-content-flex">
				<div class="button-up" id="up-accordion4">
				<svg class="up bi bi-chevron-up mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"></path>
				</svg>
				</div>
				<div class="button-down" id="down-accordion4">
				<svg class="down bi bi-chevron-down mx-2" width="32" height="32" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"></path>
				</svg>
				</div>
			</div>
		</div>

			<!-- Collapse content -->
		<div id="collapseFour2" class="collapse" aria-labelledby="headingFour2"
			data-parent="#accordionExample275">
			<div class="card-body">
				PPW<br>
				Story PPW<br>
				Berjam-jam dikelas PPW<br>
			</div>
		</div>
		</div>
	</div>


	<div class="col-md-6 col-lg-6 col-sm-12">
		<!-- <img class="img-fluid" src="static/img/gunung.png" width="700"> -->
	</div>
</div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript" src="{% static 'js/story7.js' %}"></script>

{% endblock content %}
