

.main-about {
    width: 100%;
    height: 100%;
    background-color : rgb(199, 150, 118);
}
.about-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

/* ACCORDION */
.accordion-container {
    display: flex;
    justify-content: center;
    width: 80%;
}

.accordion {
    width: 100%;
}
.collapse {
    width : 80%;
    overflow: hidden;
}
.card {
    width: 100%;
    background-color: bisque;

}

.accordion-buttons svg {
    cursor: pointer;
}

.btn2 {
    color: black;
    border: none;
    background-color: transparent;
    
}

